html {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  font-size: 10px;
  width: 100%;
  height: 100%;
}
body {
  background-color: #EDEFF4;
  color: #555;
  vertical-align: top;
  font-family: "Microsoft YaHei", "SimSun", "SimHei", Arial, Tahoma, Helvetica;
  -webkit-text-size-adjust: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
table,
th,
tr,
td,
dl,
dd,
dt,
ul,
ol,
li,
pre,
form,
fieldset,
input,
textarea,
blockquote {
  margin: 0px;
  padding: 0px;
}
table,
tr,
th,
td,
button {
  border: 0;
}
ol,
ul,
li,
dl,
dd,
dt {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0px;
  padding: 0px;
}
img {
  vertical-align: top;
  border: 0;
}
input,
textarea {
  outline: none;
  background: none;
  border: 0 none;
  margin: 0px;
  padding: 0px;
  /* firefox 19+ */
  /* ie */
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #888;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #888;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
.clear:after,
.clear:before {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
a {
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
.textmb {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff;
}
.good_speed_3d {
  transform: translateZ(0);
}
.ofScroling {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.boundary {
  margin: 0px;
  padding: 0px;
}
.inc_screen {
  width: 100%;
  height: 100%;
}
.inc_wrap {
  height: auto;
  overflow: hidden;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.dbl {
  display: inline-block;
}
.df {
  display: flex;
}
.nowrap {
  white-space: nowrap;
  word-wrap: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.noStyle {
  font-style: normal;
  font-weight: normal;
}
.ov {
  overflow: visible;
}
.oys {
  overflow-y: scroll;
}
.oxs {
  overflow-x: scroll;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.toe {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.df {
  display: flex;
}
.pr {
  position: relative;
}
.pf {
  position: fixed;
}
.pa {
  position: absolute;
}
.pm,
.pc {
  margin: auto;
}
.pm {
  top: 0;
  bottom: 0;
}
.pc {
  left: 0;
  right: 0;
}
.pn {
  top: 0;
  left: 0;
}
.pmc {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.bmc {
  transform: translate(-50%, -50%);
  margin: 50% 0 0 50%;
}
.bm {
  transform: translate(0, 50%);
  margin-top: -50%;
}
.bc {
  transform: translate(-50%, 0);
  margin-left: 50%;
}
.bmax_width,
.mmax_width,
.smax_width,
.max_width,
.spte_width {
  max-width: 750px;
  margin: 0 auto;
}
.mmax_width {
  max-width: 640px;
}
.smax_width {
  max-width: 600px;
}
.spte_width {
  max-width: 90%;
}
/*percentage*/
.max_width {
  max-width: 750px;
  margin: 0 auto;
}
.inc_width {
  width: 750px;
  margin: 0 auto;
}
.f52 {
  font-size: 52px;
}
.f50 {
  font-size: 50px;
}
.f44 {
  font-size: 44px;
}
.f42 {
  font-size: 42px;
}
.f40 {
  font-size: 40px;
}
.f38 {
  font-size: 38px;
}
.f36 {
  font-size: 36px;
}
.f34 {
  font-size: 34px;
}
.f32 {
  font-size: 32px;
}
.f30 {
  font-size: 30px;
}
.f28 {
  font-size: 28px;
}
.f26 {
  font-size: 26px;
}
.f24 {
  font-size: 24px;
}
.f22 {
  font-size: 22px;
}
.f20 {
  font-size: 20px;
}
.f18 {
  font-size: 18px;
}
.f17 {
  font-size: 17px;
}
.f16 {
  font-size: 16px;
}
.f15 {
  font-size: 15px;
}
.f14 {
  font-size: 14px;
}
.f13 {
  font-size: 13px;
}
.f12 {
  font-size: 12px;
}
.f11 {
  font-size: 11px;
}
.bgf {
  background-color: #fff;
}
.bgcfc {
  background-color: #fcfcfc;
}
.bgeb {
  background-color: #ebebeb;
}
.cf {
  color: #fff;
}
.c0 {
  color: #000;
}
.c3 {
  color: #333;
}
.c5 {
  color: #555;
}
.c6 {
  color: #666;
}
.cb {
  color: #bbb;
}
.c8 {
  color: #888;
}
.c9 {
  color: #999;
}
.cBase {
  color: #f55;
}
.ccc {
  color: #ccc;
}
.cf5 {
  color: #f55;
}
.cDg {
  color: #00c46d;
}
.cbe {
  color: #3fadf5;
}
/* border的属性 */
.bt1 {
  border-top: 1PX solid #ebebeb;
}
.bb1 {
  border-bottom: 1PX solid #ebebeb;
}
/* 盒子的影子 */
.bs3 {
  box-shadow: 0 0px 5PX rgba(0, 0, 0, 0.3);
}
/* padding值 */
/* css图标 */
/* html--展开的三角按钮 */
.triangleMark {
  width: 15px;
  height: 15px;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  transform: rotate(-45deg);
}
.triangleMark_left {
  transform: rotate(-135deg);
}
.triangleMark_right {
  transform: rotate(45deg);
}
.triangleMark_active {
  transform: rotate(180deg);
}
/* css图标 end */
/* 有条件的 */
.conditionDisplay {
  display: block;
}
/* 解决点击块变色 */
div,
input,
section,
h1,
h2,
h3,
h4,
h5,
button,
html,
body,
ul,
ol,
li,
table,
dt,
dl,
dd,
p,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}
